
Complete/SecureCodingWorkshop/RandomNumber/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/RandomNumber/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/RandomNumber/obj/

Complete/SecureCodingWorkshop/Hashing/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/Hashing/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/Hashing/obj/

Complete/SecureCodingWorkshop/HMAC/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/HMAC/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/HMAC/obj/

Complete/SecureCodingWorkshop/HashPassword/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/HashPassword/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/HashPassword/obj/

Complete/SecureCodingWorkshop/PBKDF2/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/PBKDF2/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/PBKDF2/obj/

Complete/SecureCodingWorkshop/AES/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/AES/obj/

Complete/SecureCodingWorkshop/DES/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/DES/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/DES/obj/

Complete/SecureCodingWorkshop/TripleDES/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/TripleDES/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/RSA/obj/

Complete/SecureCodingWorkshop/RSA/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/DigitalSignature/obj/

Complete/SecureCodingWorkshop/DigitalSignature/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/Hybrid/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/Hybrid/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/Hybrid/obj/

Complete/SecureCodingWorkshop/HybridWithIntegrity/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/HybridWithIntegrity/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/HybridWithIntegrity/obj/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignature/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignature/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignature/obj/

Complete/SecureCodingWorkshop/SecureString/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/SecureString/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KeyVault/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KeyVault/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KeyVault/obj/

Complete/SecureCodingWorkshop/SecureString/obj/

Complete/SecureCodingWorkshop/TripleDES/obj/

Complete/SecureCodingWorkshop/BlockChainCourse/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/BlockChainCourse/obj/

Complete/SecureCodingWorkshop/BlockWithMultipleTransactions/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/BlockWithMultipleTransactions/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/BlockWithProofOfWork/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/BlockWithProofOfWork/obj/

Complete/SecureCodingWorkshop/BlockWithSingleTransaction/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/BlockWithMultipleTransactions/obj/

Complete/SecureCodingWorkshop/BlockWithSingleTransaction/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/BlockWithTransactionPool/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/BlockWithTransactionPool/obj/

Complete/SecureCodingWorkshop/ProofOfWorkTest/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/ProofOfWorkTest/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/BlockWithSingleTransaction/obj/

Complete/SecureCodingWorkshop/ProofOfWorkTest/obj/

Workshop/SecureCodingWorkshop/AES/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/AES/obj/

Workshop/SecureCodingWorkshop/BlockChainCourse/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/BlockChainCourse/obj/

Workshop/SecureCodingWorkshop/BlockWithMultipleTransactions/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/BlockWithMultipleTransactions/obj/

Workshop/SecureCodingWorkshop/BlockWithProofOfWork/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/BlockWithProofOfWork/obj/

Workshop/SecureCodingWorkshop/BlockWithSingleTransaction/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/BlockWithSingleTransaction/obj/

Workshop/SecureCodingWorkshop/BlockWithTransactionPool/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/BlockWithTransactionPool/obj/

Workshop/SecureCodingWorkshop/TripleDES/obj/

Workshop/SecureCodingWorkshop/DES/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/DES/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/DES/obj/

Workshop/SecureCodingWorkshop/DigitalSignature/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/DigitalSignature/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/DigitalSignature/obj/

Workshop/SecureCodingWorkshop/Hashing/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/Hashing/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/HashPassword/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/HashPassword/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/Hashing/obj/

Workshop/SecureCodingWorkshop/HashPassword/obj/

Workshop/SecureCodingWorkshop/HMAC/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/HMAC/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/HMAC/obj/

Workshop/SecureCodingWorkshop/Hybrid/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/Hybrid/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/Hybrid/obj/

Workshop/SecureCodingWorkshop/HybridWithIntegrity/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/HybridWithIntegrity/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/HybridWithIntegrityAndSignature/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/HybridWithIntegrityAndSignature/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/HybridWithIntegrityAndSignature/obj/

Workshop/SecureCodingWorkshop/KeyVault/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KeyVault/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KeyVault/obj/

Workshop/SecureCodingWorkshop/PBKDF2/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/PBKDF2/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/PBKDF2/obj/

Workshop/SecureCodingWorkshop/ProofOfWorkTest/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/ProofOfWorkTest/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/ProofOfWorkTest/obj/

Workshop/SecureCodingWorkshop/RandomNumber/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/RandomNumber/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/RandomNumber/obj/

Workshop/SecureCodingWorkshop/RSA/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/RSA/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/RSA/obj/

Workshop/SecureCodingWorkshop/SecureString/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/SecureString/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/TripleDES/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/SecureString/obj/

Workshop/SecureCodingWorkshop/HybridWithIntegrity/obj/

*.lock

Complete/SecureCodingWorkshop/\.vs/SecureCodingWorkshop/v15/sqlite3/

Complete/SecureCodingWorkshop/\.vs/SecureCodingWorkshop/xs/sqlite3/

Complete/SecureCodingWorkshop/\.vs/SecureCodingWorkshop/xs/

Complete/SecureCodingWorkshop/KV_DigitalSignatures/\.DS_Store

Complete/SecureCodingWorkshop/KV_DigitalSignatures/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_DigitalSignatures/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_DigitalSignatures/obj/

Complete/SecureCodingWorkshop/KV_KeyWrapping/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_KeyWrapping/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_KeyWrapping/obj/

Complete/SecureCodingWorkshop/KV_PasswordProtection/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_PasswordProtection/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_PasswordProtection/obj/

Complete/SecureCodingWorkshop/KV_Secrets/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_Secrets/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_Secrets/obj/

Complete/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/obj/

Workshop/SecureCodingWorkshop/KV_DigitalSignatures/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_DigitalSignatures/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_DigitalSignatures/obj/

Workshop/SecureCodingWorkshop/KV_KeyWrapping/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_KeyWrapping/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_KeyWrapping/obj/

Workshop/SecureCodingWorkshop/KV_PasswordProtection/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_PasswordProtection/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_PasswordProtection/obj/

Workshop/SecureCodingWorkshop/KV_Secrets/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_Secrets/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_Secrets/obj/

Workshop/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/obj/

Workshop/SecureCodingWorkshop/SecureCodingWorkshop\.userprefs

Workshop/SecureCodingWorkshop/\.DS_Store

Workshop/SecureCodingWorkshop/\.vs/SecureCodingWorkshop/xs/sqlite3/

Workshop/SecureCodingWorkshop/\.vs/SecureCodingWorkshop/xs/

Complete/\.DS_Store

\.DS_Store

Complete/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/bin/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/bin/Debug/netcoreapp2\.1/

Complete/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/obj/Debug/netcoreapp2\.0/

Complete/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/obj/Debug/netcoreapp2\.1/

Complete/SecureCodingWorkshop/KV_DigitalSignatures/bin/Debug/netcoreapp2\.1/

Complete/SecureCodingWorkshop/KV_KeyWrapping/bin/Debug/netcoreapp2\.1/

Complete/SecureCodingWorkshop/KV_PasswordProtection/bin/Debug/netcoreapp2\.1/

Complete/SecureCodingWorkshop/KV_Secrets/bin/Debug/netcoreapp2\.1/

Complete/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/bin/Debug/netcoreapp2\.1/

*.cache

Complete/SecureCodingWorkshop/\.idea/\.idea\.SecureCodingWorkshop/\.idea/

Complete/SecureCodingWorkshop/\.idea/\.idea\.SecureCodingWorkshop/

Complete/SecureCodingWorkshop/AES/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/BlockChainCourse/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/BlockWithMultipleTransactions/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/BlockWithProofOfWork/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/BlockWithSingleTransaction/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/BlockWithTransactionPool/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/DES/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/DigitalSignature/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/Hashing/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/HashPassword/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/HMAC/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/Hybrid/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/HybridWithIntegrity/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignature/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/KeyVault/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/KV_DigitalSignatures/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/obj/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/obj/

Complete/SecureCodingWorkshop/KV_KeyWrapping/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/KV_PasswordProtection/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/KV_Secrets/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/PBKDF2/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/ProofOfWorkTest/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/RandomNumber/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/RSA/bin/Debug/netcoreapp2\.2/

*.user

Complete/SecureCodingWorkshop/SecureString/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/TripleDES/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/\.idea/\.idea\.SecureCodingWorkshop/\.idea/

Workshop/SecureCodingWorkshop/\.idea/\.idea\.SecureCodingWorkshop/

Workshop/SecureCodingWorkshop/KeyVault/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/KV_DigitalSignatures/bin/Debug/netcoreapp2\.1/

Workshop/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/bin/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/bin/Debug/netcoreapp2\.1/

Workshop/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/obj/Debug/netcoreapp2\.0/

Workshop/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/obj/Debug/netcoreapp2\.1/

Workshop/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/obj/

Workshop/SecureCodingWorkshop/KV_KeyWrapping/bin/Debug/netcoreapp2\.1/

Workshop/SecureCodingWorkshop/KV_PasswordProtection/bin/Debug/netcoreapp2\.1/

Workshop/SecureCodingWorkshop/KV_Secrets/bin/Debug/netcoreapp2\.1/

Workshop/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/bin/Debug/netcoreapp2\.1/

Workshop/SecureCodingWorkshop/AES/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/BlockChainCourse/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/BlockWithMultipleTransactions/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/BlockWithProofOfWork/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/BlockWithSingleTransaction/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/BlockWithTransactionPool/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/DES/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/DigitalSignature/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/Hashing/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/HashPassword/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/HMAC/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/Hybrid/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/HybridWithIntegrity/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/HybridWithIntegrityAndSignature/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/KV_DigitalSignatures/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/KV_KeyWrapping/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/KV_PasswordProtection/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/KV_Secrets/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/PBKDF2/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/ProofOfWorkTest/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/RandomNumber/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/RSA/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/SecureString/bin/Debug/netcoreapp2\.2/

Workshop/SecureCodingWorkshop/TripleDES/bin/Debug/netcoreapp2\.2/

Complete/SecureCodingWorkshop/AES/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/BlockChainCourse/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/BlockWithMultipleTransactions/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/BlockWithProofOfWork/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/BlockWithSingleTransaction/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/BlockWithTransactionPool/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/DES/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/DigitalSignature/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/Hashing/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/HashPassword/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/HMAC/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/Hybrid/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/HybridWithIntegrity/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignature/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/KV_DigitalSignatures/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/KV_KeyWrapping/bin/Debug/netcoreapp3.0/

*.dll

Complete/SecureCodingWorkshop/KV_PasswordProtection/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/KV_Secrets/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/PBKDF2/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/ProofOfWorkTest/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/RandomNumber/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/RSA/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/SecureString/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/TripleDES/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/AES/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/BlockChainCourse/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/BlockWithMultipleTransactions/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/BlockWithProofOfWork/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/BlockWithSingleTransaction/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/BlockWithTransactionPool/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/DES/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/DigitalSignature/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/HMAC/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/Hybrid/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/HybridWithIntegrity/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/HybridWithIntegrityAndSignature/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/KV_DigitalSignatures/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/KV_HybridWithIntegrityAndSignature/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/KV_KeyWrapping/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/KV_PasswordProtection/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/KV_Secrets/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/KV_SimpleEncryptDecrypt/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/PBKDF2/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/ProofOfWorkTest/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/RSA/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/SecureString/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/TripleDES/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/Hashing/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/HashPassword/bin/Debug/netcoreapp3.0/

Workshop/SecureCodingWorkshop/RandomNumber/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/.vs/SecureCodingWorkshop/DesignTimeBuild/

Complete/SecureCodingWorkshop/.vs/SecureCodingWorkshop/v16/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignatureGCM/bin/Debug/netcoreapp2.0/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignatureGCM/bin/Debug/netcoreapp2.2/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignatureGCM/bin/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignatureGCM/obj/Debug/netcoreapp2.0/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignatureGCM/obj/Debug/netcoreapp2.2/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignatureGCM/obj/Debug/netcoreapp3.0/

Complete/SecureCodingWorkshop/HybridWithIntegrityAndSignatureGCM/obj/
